*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global-min-height: calc(100vh - (76px + 171px));;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cbceccb8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* color scheme
https://colorhunt.co/palette/177866

darkest - #204051
lighter - #3b6978
lighter - #84a9ac
lightest - #cae8d5

*/
