.Home {
  min-height: var(--global-min-height);
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://images.unsplash.com/photo-1518893494013-481c1d8ed3fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat;
  background-size: cover;
  background-position-y: -270px;
  display: flex;
  padding: 20px;
}

.Home-container{
  margin: auto auto;
}

.Home .Home_titles{
  color: white;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}

.Home_titles h1{
  font-family: Pacifico;
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 black;
  
}

.Home_titles p{
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 black;
}
  
.Home_container-boxes{
  margin: 0 auto;
  padding: 0;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 80vw;
}
  
.Home_box{
  background: rgba(255, 255, 255, 0.76);
  margin: 1rem;
  box-shadow: 1px 1px 10px;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  max-height: 180px;
  min-height: 180px;
  transition: all .4s ease-out;
}
  
.Home_box:hover{
  background: rgba(255,255,255,.7);
  transform: translateY(-15%);
}
  
.Home_box a {
  text-decoration: none !important;
  color: black;
}
.Home_box a:hover{
  color: #004239;}

.Home_icon{
  font-size: 3rem;
  padding: 1rem;
}

.Home_text h3{
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
}

.Home_text p{
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
}

.Home_text{
  padding: .5rem;
}


/* MEDIAQUERIES */

@media (max-width: 1389px){
  .Home_text h3{
    font-size: 1.2rem;
  }
}
@media (max-width: 1160px){
    .Home_icon{
    font-size: 2rem;
    padding: 0.5rem;
  }
  .Home_text h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: .8rem;
  }

  .Home_text p{
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: .8rem;
  }
}

@media (max-width: 890px){
  body{
    height: 100%;
  }

  .Home_container-boxes{
    flex-direction: column;
  }

  .Home_text h3{
    font-size: 1.1rem;
  }

  .Home_box:hover{
    background: rgba(255,255,255,.7);
    transform: none;
  }

  .Home_box{
    max-width: 320px;
    max-height: 180px;
    min-height: 125px;
  }

  .Home_titles h1{
    font-size: 3rem;
  }
}

@media (max-width: 999px){
  .Home {
    background-position-y: 0px;
}
}