
.ForgotPassword {
  min-height: var(--global-min-height);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForgotPassword_form{
    box-shadow: 0px 1px 5px;
}
.ForgotPassword form{
    padding: 30px 25px 15px 25px;
    background-color: #ffffff;
    min-width: 350px;
    border-radius: 10px;
  }
 .ForgotPassword .form-group{
    margin-top: 5px;
    margin-bottom: 10px;
  }

.ForgotPassword .form-title{
    margin-bottom: 20px;
  }

.ForgotPassword h2{
    font-size: 30px;
    color: #323232;
     font-family: pasifico;
  }

.ForgotPassword input {
  display: block;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #a7a3a3;
}



  .ForgotPassword button{
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 7px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    cursor: pointer;
    margin-top: 15px;
    background-color: #3b6978;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    width: 75%;
    transition: all .3s ease;
  }
  
  .ForgotPassword  button:hover{
    background-color: #204051;
  }


