.NewApply{
    border: 2px solid black;
    width: 70%;
    margin: le;
    left: auto;
    left: 50%;
    transform: translate(-50%, 10px);
    position: fixed;
    z-index: 1;
    background-color: aliceblue;
}