.SearchBar-container{
    padding: 10px;
    background-color: #3b6978;
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    color: white;
}

.SearchBar button , .SearchBar_formButtons div{
    width: 100px;
    height: 35px;
    margin: 0 5px;
    color: #ffffff;
    border: 1px solid #343a40;
    font-weight: 500;
    outline: none;
    border-radius: 4px;
    background-color: #1f3143a1;
}

.SearchBar_formButtons div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar button:hover, .SearchBar_formButtons div:hover{
    color: red;
}

.SearchBar .form-inline {
    display: flex;
    justify-content: center;
}

.SearchBar .form-inline label{
    padding: 0.4rem 1rem;
    margin: .6em 0;
    display: flex;
    justify-content: center;
    align-items: initial;
}

.SearchBar input[type=checkbox] {
    width: 36px;
    height: 31.99px;
    position: relative;
    top: 1px;
}

.SearchBar select{
    height: 31px;
    border-radius: 5px;
    padding: 0 5px;
    width: 168px;
}

.SearchBar input[type=text]{
    width: 168px;
    text-indent: 10px;
}

.SearchBar label div{
    display: flex;
    align-items: center;
}

.SearchBar .ml-3, .mx-3 {
    margin-left: 0rem!important;
}

.SearchBar_formButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.ApplyTable_Addnew {
    background-color: #84a9ac;
    padding: 1em 0;
    margin: 10px 0;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.ApplyTable_Addnew button{
    padding: 10px;
    background-color: #313839;
    border: none;
    color: white;
    width: 170px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ApplyTable_Addnew i{
    color: #faf872c4;
     font-size: 20px;
}

@media screen and (max-width: 991px) {
 .SearchBar_formButtons{ 
        flex-direction: row;
        height: 100%;
        width: 265px;
    } 
    .ApplyTable_Addnew button {
        width: 120px;
        height: 35px;
    }
}

@media screen and (max-width: 450px) {

    .ApplyTable_Addnew button {
        width: 90px;
        height: 30px;
        font-size: 1em;
    }
}