.SearchBar{
    padding: 10px;
    background-color: #3b6978;
    color: white;
    margin: 0 0 1rem 0;
}

/* .SearchBar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.SearchBar button , .SearchBar_formButtons div{
    color: white;
    width: 130px;
    height: 35px;
    color: #ffffff;
    border: 1px solid #343a40;
    font-weight: 500;
    outline: none;
    border-radius: 4px;
    background-color: #1f3143a1;
    cursor: pointer;
}

.SearchBar button:hover, .SearchBar_formButtons div:hover{
    color: red;
}
.SearchBar .form-inline {
    display: flex;
    justify-content: center;
}
.SearchBar .form-inline label{
    padding: .4rem 2rem;
    margin: .6em 0;
    display: flex;
    flex-direction: column;
    align-items: initial;
}
.SearchBar input[type=checkbox] {
        width: 20px;
        height: 2em;
}
.SearchBar label div{
    display: flex;
    align-items: center;
}
.SearchBar .ml-3, .mx-3 {
    margin-left: 0rem!important;
}
.SearchBar_exports {
    display: flex;
    justify-content: flex-end;
}

