.ApplyTable table{
    width: 100%;
    font-size: 2vw;
}

.ApplyTable th, td{
    padding: 8px;
}

.ApplyTable th{
    background-color: #204051;
    color: white;
}

.ApplyTable tr{
    background-color: #3b6978;   
    color: #cae8d5;
}

.ApplyTable-moreDetails:hover{
    cursor: pointer;
    color: red;
}

.ApplyTable-updateDelete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
  
}

.ApplyTable-updateIcon, .ApplyTable-deleteIcon{
    padding: 2.5px;
    margin: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    /* height: 100%; */
}

.ApplyTable-updateIcon:hover{
    background-color: rgb(129, 188, 236);
    cursor: pointer;
    transition: background-color 400ms;
}

.ApplyTable-deleteIcon:hover{
    background-color: rgb(240, 72, 6);
    cursor: pointer;
    transition: background-color 400ms;
}

.ApplyTable_delete{
    position: relative;
    padding: 10px;
    background-color: rgb(240, 72, 6);
    color: white;
    border: 3px outset black;
    width: 85%;
    max-width: 500px;
    height: 40%;
    max-height: 250px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.ApplyTable_delete_butons{
   position: absolute;
   bottom: 10px;
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.ApplyTable_Addnew {
    background-color: #3b6978;
    padding: 1em 0 0 0;
}
.ApplyTable_Addnew button{
    background-color: #313839;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 1.5em;
    border-radius: 5px;
    letter-spacing: 2px;
    font-family: pasifico;
}

.ApplyTable_delete_butons button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 20%;
    font-size: 18px;
}

.ApplyTable_delete_butons button:hover{
    background-color: white;
    color: rgb(240, 72, 6);
}

@media screen and (min-width: 1200px) {
    .ApplyTable table {
       font-size: 18px;
    }
  }
