.ApplyTable table{
    width: 100%;
    font-size: 2vw;
}

.ApplyTable th, td{
    padding: 8px;
}

.ApplyTable th{
    background-color: #204051;
    color: white;
}

.ApplyTable tr{
    background-color: #3b6978;   
    color: #cae8d5;
}

.ApplyTable-moreDetails:hover{
    cursor: pointer;
    color: red;
}

.ApplyTable-updateDelete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
  
}

.ApplyTable-updateIcon, .ApplyTable-deleteIcon{
    padding: 2.5px;
    margin: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    /* height: 100%; */
}

.ApplyTable-updateIcon:hover , .ApplyTable-deleteIcon:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 300ms;
}

/* .ApplyTable-deleteIcon:hover{
    background-color: rgba(165, 22, 22, 0.48);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 400ms;
} */

.ApplyTable_delete{
    position: relative;
    padding: 10px;
    background-color: rgb(240, 72, 6);
    color: white;
    border: 3px outset black;
    width: 85%;
    max-width: 500px;
    height: 40%;
    max-height: 250px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.ApplyTable_delete_butons{
   position: absolute;
   bottom: 10px;
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.ApplyTable_Addnew {
    background-color: #84a9ac;
    padding: 1em 0;
    margin: 10px 0;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.ApplyTable_Addnew button{
    background-color: #313839;
    border: none;
    color: white;
    width: 170px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.ApplyTable_delete_butons button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 20%;
    font-size: 18px;
}

.ApplyTable_delete_butons button:hover{
    background-color: white;
    color: rgb(240, 72, 6);
}
.ApplyTable table i {
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px black;
}
.ApplyTable .table td, .table th {
    vertical-align: middle;
}

 @media screen and (min-width: 1200px) {
    .ApplyTable table {
       font-size: 18px;
    }
    .ApplyTable table i {
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 991px) {

       .ApplyTable_Addnew button {
           width: 120px;
           height: 35px;
       }
       .ApplyTable table i {
        font-size: 1rem;
    }
    }

 @media screen and (max-width: 750px) {
        .ApplyTable table i {
            font-size: .8rem;
        }
    } 
 @media screen and (max-width: 450px) {

    .ApplyTable_Addnew button {
        width: 90px;
        height: 30px;
        font-size: 1em;
    }
  
    }