.ApplyTable span{
    cursor: pointer;
    transition: all .7s;
}

.ApplyTable-updateIcon:hover{
    background-color: rgb(129, 188, 236);
}

.ApplyTable-deleteIcon:hover{
    background-color: rgb(240, 72, 6);
}

.ApplyTable_delete{
    background-color: #ef3300f0;
    border: 2px dotted yellow;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 100%);
}
.ApplyTable_Addnew {
    background-color: #3b6978;
    padding: 1em 0 0 0;
}
.ApplyTable_Addnew button{
    background-color: #313839;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 1.5em;
    border-radius: 5px;
    letter-spacing: 2px;
    font-family: pasifico;
}