.Login {
  padding: 10px;
  min-height: var(--global-min-height);
  display: flex;
}

.Login_form{
  margin: auto auto;
  box-shadow: 0px 1px 5px;
}

.Login form{
  padding: 30px 25px 15px 25px;
  background-color: #ffffff;
  min-width: 350px;
  border-radius: 10px;
}

.Login .form-group{
  margin-top: 5px;
  margin-bottom: 10px;
}

.Login .form-title{
  margin-bottom: 20px;
}

.Login h2{
  font-size: 30px;
  color: #323232;
  font-family: pasifico;
}

.Login p{
  color: #777777;
  font-family: pasifico;
}

.Login input {
  display: block;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #a7a3a3;
}

.Login .form-group p {
  margin-top: 13px;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 0.1px solid black;
  width: 75%;
  margin: 10px auto;
  border-radius: 5px;
  letter-spacing: 1px;
}

.Login  .form-group a{
  color: rgb(40, 109, 173);
}

.Login button{
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 7px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  cursor: pointer;
  margin-top: 15px;
  background-color: #3b6978;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  width: 75%;
  transition: all .3s ease;
}

.Login  button:hover{
  background-color: #204051;
}

.Login .alert-warning {
  color: #bf0c0c;
  font-size: 1.2em;
  background-color: #fff3cd;
  border-color: #000000;
  border-radius: 5px;
  z-index: 1;
}

.Login_forgotPassword{
  text-align: center;
  background-color: white;
  width: 160px;
  margin: 0 auto;
}