.ApplyForm{
    border: 2px solid black;
    width: 65%;
    left: auto;
    left: 50%;
    transform: translate(-50%, -95px);
    position: fixed;
    z-index: 1;
    border-radius: 10px;
    background-color: #00e19e;
}