.UpdateApply{
    border: 2px solid black;
    width: 50%;
    left: auto;
    left: 50%;
    transform: translate(-50%, 10px);
    position: fixed;
    z-index: 1;
    border-radius: 10px;
    background-color: #0098d4;
}